/* shared style */
.common-heading {
    color: #131318;
    font-size: 28px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* part-2 */
.part-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 80px;
    margin: 40px;
}

.text-p2 p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.button-part-2 {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 15px 35px;
    color: aliceblue;
    font-size: large;
}

/* mobile */

@media screen and (max-width:600px){


    .part-two{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0 auto; 
        gap:15px;
        
    }

    .img-p2, .img{

        width: 100%;
       

    }

 

}